## Database Creator
This code finds all the rosbag files in a given path and concatenates them into a single dataframe before saving the as a new .csv file.

In [29]:
import glob
import pandas as pd

### Set Path:
Set your own path to your stored .csv files.
The get_path function below is used to set the path in the concatenator function.

In [30]:
PATH = "/home/ur10pc/Desktop/robot_data2/*/"

def get_path():
    return PATH

### Concatenator Function:
This function serches the PATH for .csv files and concats them to form one big dataframe.

In [39]:
def concatenator(file_name):
    PATH = get_path()
    data = pd.DataFrame()
    for file in glob.glob(f'{PATH}'+f'*{file_name}_throttle.csv'):
        x = pd.read_csv(file, low_memory=False)
        data = pd.concat([data,x],axis=0)
    return data

### Call the Concatenate Function:
Create two instances of concatenated data using the concatenate function.

In [ ]:
ur_data = concatenator('joint_states')
force_data = concatenator('robotiq_ft_sensor')

### Save Data:
Save the two new dataframes as .csv files.

In [45]:
ur_data.to_csv('/home/ur10pc/Desktop/robot_data2/ur_df/ur_data.csv', index=False)
force_data.to_csv('/home/ur10pc/Desktop/robot_data2/ur_df/force_data.csv', index=False)

### Display the UR Data:

In [47]:
print(type(ur_data))
print(ur_data.shape)
display(ur_data.head())

<class 'pandas.core.frame.DataFrame'>
(72000, 12)

,rosbagTimestamp,header,seq,stamp,secs,nsecs,frame_id,name,wrist_3_joint],position,velocity,effort
0,1584450951462869270,NaN,1132446,NaN,1584450951,462444927,'',"[shoulder_pan_joint, shoulder_lift_joint, elbo...","[1.4048302173614502, -1.1717646757708948, 2.48...","[0.0, 0.0, -0.0, 0.0, 0.0, 0.0]","[-0.2838135063648224, -4.325867176055908, -1.0...",NaN
1,1584450951574817913,NaN,1132460,NaN,1584450951,574403820,'',"[shoulder_pan_joint, shoulder_lift_joint, elbo...","[1.4047942161560059, -1.1717646757708948, 2.48...","[0.0, 0.0, -0.0, 0.0, 0.0, 0.0]","[-0.3112793266773224, -4.193115711212158, -1.0...",NaN
2,1584450951686910665,NaN,1132474,NaN,1584450951,686472517,'',"[shoulder_pan_joint, shoulder_lift_joint, elbo...","[1.4048421382904053, -1.1717522780047815, 2.48...","[0.0, 0.0, -0.0, 0.0, 0.0, 0.0]","[-0.3021240532398224, -4.174805164337158, -1.0...",NaN
3,1584450951798816259,NaN,1132488,NaN,1584450951,798397817,'',"[shoulder_pan_joint, shoulder_lift_joint, elbo...","[1.4048181772232056, -1.1717522780047815, 2.48...","[0.0, 0.0, -0.0, 0.0, 0.0, 0.0]","[-0.3204346001148224, -4.229736804962158, -1.0...",NaN
4,1584450951910741398,NaN,1132502,NaN,1584450951,910392727,'',"[shoulder_pan_joint, shoulder_lift_joint, elbo...","[1.4048062562942505, -1.17177659669985, 2.4830...","[0.0, 0.0, -0.0, 0.0, 0.0, 0.0]","[-0.2929687798023224, -4.183960437774658, -1.0...",NaN

### Display the Robotiq Force Torque Data:

In [48]:
print(type(force_data))
print(force_data.shape)
display(force_data.head())

<class 'pandas.core.frame.DataFrame'>
(72000, 7)

       rosbagTimestamp        Fx        Fy        Fz     Mx     My     Mz
0  1584450951446611324  0.000000 -0.030003  0.000000  0.004  0.002 -0.002
1  1584450951561339268 -0.040001 -0.180000 -0.020000 -0.001  0.003 -0.002
2  1584450951672150117  0.000000 -0.090000 -0.010002  0.001  0.002 -0.001
3  1584450951782787921  0.009995 -0.100002  0.009998  0.001  0.002 -0.001
4  1584450951897493023 -0.020004  0.049999 -0.010002  0.003  0.004 -0.004

### Explore the Data:
Using the pandas.describe method one can usually get some interesting insights into the data; however, not yet for the ur_data, as this dataframe still requires a lot of pre-processing.

In [44]:
display(ur_data.describe())
display(force_data.describe())

,rosbagTimestamp,header,seq,stamp,secs,nsecs,effort
count,7.200000e+04,0.0,7.200000e+04,0.0,7.200000e+04,7.200000e+04,0.0
mean,1.584438e+18,NaN,9.545231e+05,NaN,1.584438e+09,5.000124e+08,NaN
std,2.740981e+13,NaN,6.168925e+05,NaN,2.740981e+04,2.886781e+08,NaN
min,1.584377e+18,NaN,5.978900e+04,NaN,1.584377e+09,2.934700e+04,NaN
25%,1.584443e+18,NaN,4.977750e+05,NaN,1.584443e+09,2.500244e+08,NaN
50%,1.584447e+18,NaN,7.367810e+05,NaN,1.584447e+09,5.000802e+08,NaN
75%,1.584453e+18,NaN,1.386220e+06,NaN,1.584453e+09,7.500138e+08,NaN
max,1.584462e+18,NaN,2.539741e+06,NaN,1.584462e+09,9.999743e+08,NaN

,rosbagTimestamp,Fx,Fy,Fz,Mx,My,Mz
count,7.200000e+04,72000.000000,72000.000000,72000.000000,72000.000000,72000.000000,72000.000000
mean,1.584438e+18,-0.871748,-1.286716,-0.353326,0.276210,-0.225635,0.042879
std,2.740981e+13,3.798046,9.506904,5.445069,1.658892,0.762813,0.274737
min,1.584377e+18,-32.180000,-69.699997,-47.439999,-15.836000,-7.274000,-1.141000
25%,1.584443e+18,-2.239998,-2.029999,-0.570000,-0.330000,-0.394000,-0.125000
50%,1.584447e+18,-0.510002,0.279999,0.700001,-0.007000,-0.133000,0.000000
75%,1.584453e+18,0.750000,2.349998,1.820000,0.324000,0.067000,0.228000
max,1.584462e+18,38.099998,92.529999,60.980000,12.685999,7.325000,1.208000